/* Cabinet Grotesk — Fontshare, ITF Free Font License */
@font-face{font-family:'Cabinet Grotesk';font-style:normal;font-display:swap;font-weight:100 900;src:url(../woff2/fontshare/cabinet-grotesk.woff2) format('woff2');}
