/* General Sans — Fontshare, ITF Free Font License */
@font-face{font-family:'General Sans';font-style:normal;font-display:swap;font-weight:200 700;src:url(../woff2/fontshare/general-sans.woff2) format('woff2');}
