/* LXGW Marker Gothic — OFL */
@font-face{font-family:'LXGW Marker Gothic';font-style:normal;font-display:swap;font-weight:400;src:url(../ttf/lxgw-marker-gothic/LXGWMarkerGothic-Regular.ttf) format('truetype');}
