/* Zhuque Fangsong — OFL */
@font-face{font-family:'Zhuque Fangsong';font-style:normal;font-display:swap;font-weight:400;src:url(../ttf/zhuque-fangsong/ZhuqueFangsong-Regular.ttf) format('truetype');}
